@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: #FF7B54;
  color: #e3ee06;
  font-family: 'Muli', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  padding: 10px;
  margin: 0;
  background-image: url("image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

h2 {
  margin: 10px 0 20px;
  text-align: center;
}

h3{
  color: crimson;
}

.container {
  background-color: #01357994;
  box-shadow: 0px 2px 10px rgba(255, 255, 255, 0.2);
  padding: 20px;
  width: 350px;
  max-width: 100%;
  border-radius: 10px;
  position: absolute;
  margin-left: 600px;
}

.result-container {
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  font-size: 18px;
  letter-spacing: 1px;
  padding: 12px 10px;
  height: 50px;
  width: 100%;
}

.result-container #result {
  word-wrap: break-word;
  max-width: calc(100% - 40px);
  overflow-y: scroll;
  height: 40px;
  width: 250px;
  font-size: 20px;
}

#result::-webkit-scrollbar {
  width: 1rem;
}

.result-container .btn {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 40px;
  height: 40px;
  font-size: 20px;
}

.btn {
  border: none;
  background-color: rgba(0, 0, 0, 0.4);
  color: #fff;
  font-size: 16px;
  padding: 8px 12px;
  cursor: pointer;
}

.btn-large {
  display: block;
  width: 100%;
}

.setting {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px 0;
}

.btn:hover{
  background-color: green;
}

#rcontain{
  height: 40px;
  width: 250px;
  font-size: 20px;
}
#passwordStrength{
  width: 100%;
  height: 5px;
  margin: 5px 0;
  display: none;
}
#passwordStrength span{
position: relative;
height: 100%;
width: 100%;
background: lightgrey;
border-radius: 5px;
}
#passwordStrength span:nth-child(2){
margin: 0 3px;
}
#passwordStrength span.active:before{
position: absolute;
content: '';
top: 0;
left: 0;
height: 100%;
width: 100%;
border-radius: 5px;
}
#passwordStrength span#poor:before{
background-color: #ff4757;
}
#passwordStrength span#weak:before{
background-color: orange;
}
#passwordStrength span#strong:before{
background-color: #23ad5c;
}
#passwordInfo{
font-size: 15px;
}
#passwordInfo #poor{
color: red;
}
#passwordInfo #weak{
color: orange;
}
#passwordInfo #strong{
color: green;
}

video{
  width: 300px;
  height: 360px;
  margin-top: -180px;
  margin-left: 160px;
  border-radius: 10px;
  position: absolute;
}

.context{
  margin-left: 1100px ;
  position: absolute;
  width: 300px;
  margin-top: 0;
  height: 360px;
  background-color: white;
  text-align: center;
  border-radius: 10px;
  color: purple
}
